.new-post-form {
  border: 2px solid #ccc;
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  margin-bottom: 40px;

  input, textarea, button {
    font-size: 20px;
  }

  textarea {
    resize: none;
    height: 120px;
  }
}

.posts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}


.post {
  display: flex;
  align-items: baseline;
  border-radius: 5px;
  box-shadow: 0 0 4px white;
  padding: 20px;


  .post-data {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    gap: 20px;
    width: 100%;
  }


  .id {
    font-weight: bold;
    padding-right: 20px;
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .body {
    font-size: 0.9em;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
}
